*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a
{
	text-decoration: none;
	color: white;
}
body
{
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	max-width: 100%;
	color: white;
}
.main{
	margin: 8% 10%;
	background-color: #1b242f;
	transition: 0.5s;
}
.flex-center{
	display: flex;
	justify-content: center;
}
footer
{
	height: 150px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	background-color: #04c2c9;
	font-size: 14pt;
}
/*-----------------------------------------------------------------------------------------*/
/*------------- HEADER  -----------*/
nav
{
	width: 100%;
	background-color: black;
	border-bottom: solid 5px #04c2c9;
}
.header-body
{
	display: flex;
	justify-content: space-around;
	color: white;
	align-items: center;
}
.header-body ul 
{
	list-style: none;
}
.header-body ul li a{
	text-decoration: none;
	display: block;
	padding: 20px 30px;
	font-size: 25pt;
	color: white;
	transition: 0.5s;
}
.header-body ul li a:hover
{
   color: lawngreen;
}
.header-body img
{
 width: 150px;
 height: 110px;
}
.burger
{
	display: none;
}
@media screen and (max-width: 1444px)
{
	.header-body ul li a{
	display: block;
	padding: 10px 20px;
	font-size: 18pt;
	color: white;
	transition: 0.5s;
}
 }
 @media screen and (max-width: 1074px)
{
	.header-body ul li a{
	padding: 5px 15px;
	font-size: 18pt;
	color: white;
	transition: 0.5s;
      }
 }
 @media screen and (max-width: 1020px)
{
	.main
	{
		margin: 6% 4%;
	}
	.header-fixed
	{
		min-width: 92%;
	}
	.header-body
	{
		justify-content: space-around;
	}
   .header-links
   {
   	display: none;
   }
   .links
   {
   	display: none;
   }	
   .burger
   {
   	    display: block;
		position: relative;
		width: 30px;
		height: 20px;
		margin: 20px 0;
   }
   .burger:before,
	.burger:after
	{
   content: '';
   background-color: white;
   position: absolute;
   width: 100%;
   height: 2px;
   left: 0;
  }
  .burger:before
  {
  	top: 0;
  }
  .burger:after
  {
  	bottom: 0;
  }
  .burger span
  {
  	position: absolute;
  	background-color: white;
  	left: 0;
  	width: 100%;
  	height: 2px;
  	top: 9px;
  }
  .burger-active
  {
  	display: block;
   }
  .flex-space{
  	justify-content: space-between;
  }
}
@media screen and (max-width: 600px)
{
.main{
	margin: 4% 0;
	width: 100%;
}
.header-fixed
	{
		min-width: 100%;
	}
 .header-body{
 	flex-direction: column;
 }
 .header-links
 {
 	text-align: center;
 }
}
@media screen and (max-width: 200px)
{
 .header-body ul li a{
	padding: 5px 10px;
	font-size: 14pt;
      }
}
.header-fixed:before
{
	content: '';
	height: 100%;
}
.header-fixed
{
	position: fixed;
	top: 0;
	max-width: 80%;
	opacity: 0.8;
	z-index:3;
}
/*-----------------------------------------------------------------------------------------*/
/*---------TOVARS----------*/
#content
{
	min-height: 1000px;
}
.containter-tovars
{
	width: 100%;
	height: 100%;
	padding: 50px 0;
	display: flex;
}
.containter-tovars .filters 
{
	width: 20%;
	height: 400px;
	background-color: white;
	position: relative;
	top: 10%;
	left: 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.containter-tovars .tovars
{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: center;

}
.containter-tovars .tovars ul
{
	list-style: none;
	display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   padding: 0 30px;
}
.containter-tovars .tovars ul li {
  margin: 20px;
  padding: 20px;
  min-width: 400px;
  min-height: 200px;
  display: inline-block;
  background-color: rgba(35, 65, 75, 0.5);
  border-radius: 20px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  color: white;

}
.containter-tovars .tovars ul li img
{
	width: 100%;
	border-radius: 30px;
}
@media screen and (max-width: 1830px)
{
	.containter-tovars .tovars ul
	{
		display: flex;
		justify-content: center;
	}
}
.containter-tovars .tovars ul li .tovar-body
{
	font-size: 16pt;
	text-align: center;
}
.containter-tovars .tovars ul li .tovar-body .title-tovar
{
	position: relative;
	top: 10px;
	color: #e31b6d;
	font-weight: bold;
	font-size: 25pt;
}
.containter-tovars .tovars ul li .tovar-body .price-tovar .price
{
	font-size: 20pt;
	color: white;

}
.containter-tovars .tovars ul li .tovar-body .price-tovar .price-red
{
	position: relative;
   left: 20px;
	text-decoration: line-through;
	color: red;
}
.containter-tovars .tovars ul li .tovar-body .price-tovar .discount
{  color: black;
	padding: 2px 5px;
	border-radius: 20px;
	position: relative;
	top: 13px;
	right: 20px;
	background-color: yellow;
	font-size: 30pt;
}
.containter-tovars .tovars ul li .tovar-footer
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}
.containter-tovars .tovars ul li .tovar-footer button
{
	position: relative;
	top: 10%;
	width: 200px;
	height: 50px;
	z-index: 0;
	border-radius: 10px;
	font-size: 15pt;
	cursor: pointer;
	transition: all 0.5s;
}
.containter-tovars .tovars ul li .tovar-footer button:hover
{
	z-index: 3;
  transform: scale(1.1);
}
.containter-tovars .tovars ul li .tovar-footer .delete
{
	background-color: red;
	color: white;
}
@media screen and (max-width: 750px)
{
  .containter-tovars .tovars ul li {
  margin: 20px;
  padding: 20px;
  min-width: 100px;
  max-width: 250px;
  min-height: 200px;
  max-height: 400px;
   }
  .containter-tovars .tovars ul li .tovar-footer button
{
	top: 5%;
	width: 150px;
	height: 50px;
	font-size: 12pt;
}
.containter-tovars .tovars ul li .tovar-body .price-tovar .price
{
	font-size: 15pt;
}
.containter-tovars .tovars ul li .tovar-body .price-tovar .discount
{  color: black;
	top: 10px;
	right: 21px;
	background-color: yellow;
	font-size: 17pt;
}
.containter-tovars .tovars ul li .tovar-body
{
	font-size: 13pt;
}
.containter-tovars .tovars ul li .tovar-body .title-tovar
{
	top: 0px;
	color: #e31b6d;
	font-weight: bold;
	font-size: 20pt;
}
.filters
{
	font-size: 10pt;
	left: 0;
}
}

@media screen and (max-width: 600px)
{
	.containter-tovars .tovars ul li .tovar-body .title-tovar
{
	font-weight: bold;
	font-size: 15pt;
}
.containter-tovars .tovars ul li .tovar-body
{
	text-align: left;
	font-size: 10pt;
}
.containter-tovars .tovars
{
	width: 100%;
}
.containter-tovars .filters
{
	display: none;
}
.containter-tovars
{
	padding: 0px 0px;
}
}
/*-----------------------------------------------------------------------------------------*/
/*-------------ABOUT-US-------------------*/
.about-us-container
{
	display: flex;
	flex-direction: column;
}
.who-we
{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0px 10px;
}
.who-we img
{
	border-radius: 40%;
   width: 500px;
   height: 500px;
   position: relative;
}
.who-we .text
{
	font-size: 20pt;
	text-align: center;
	padding: 0px 40px;
}
.title-section
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px 0;
}
.title-section .title{
	font-size: 30pt;
	text-align: center;
}
.title-section .line
{
	margin: 30px 0;
	background-color: white;
	height: 4px;
	width: 60%;
}
.jobers
{
	display: flex;
	justify-content: space-evenly;
	background-color: white;
	align-items: baseline;
	color: black;
	padding: 100px 0;
}
.jober
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.jober .nameJober
{
	font-size: 20pt;
	display: flex;
	align-items: center;
}
.jober img
{
	border-radius: 100%;
	border: solid 1px aqua;
	width: 200px;
	height: 190px;
}
.jobers-section
{
	background-color: white;
	position: relative;
	margin: 50px 0;
}
.jobers-section:before
{
 display: block;
 content: '';
 width: 100%;
 height: 70px;
 position: relative;
 top: 0;
 left: 0;
 transform: translateY(-100%);
 background: linear-gradient(to top right, white 50%, transparent 51%);
}
.jobers-section:after
{
 display: block;
 content: '';
 width: 100%;
 height: 70px;
 position: relative;
 top: 0;
 left: 0;
 transform: translateY(100%);
 background: linear-gradient(to bottom left, white 50%, transparent 51%);
}

.companys
{
	display: flex;
	justify-content: space-evenly;
}
.company
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	text-align: center;
}
.company img 
{
	border-radius: 20%;
	width: 300px;
	height: 300px;
}
.company .companyName
{
	color: white;
	font-size: 20pt;
	padding: 10px 0;
	position: relative;
}
.why-we
{
	display: flex;
	align-items: center;
	font-size: 20pt;
	justify-content: space-around;
	background-color: white;
	 clip-path: polygon(0 0,50% 50px,100% 0,100% 100%,0 100%);
	 position: relative;
	 padding: 100px 0;

}
.why-we img
{
	border-radius: 30%;
	height: 400px;
	width: 400px;
}
.why-we .why-text{
 color: black;
}
.why-we:before
{
	content: '';
}
.comentary
{
	display: flex;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.1);
	margin: 10px 0;
	padding: 10px 0;
}
.comentary img
{
	width: 150px;
	height: 150px;
	border-radius: 100%;
}
.comentary .text{
	font-size: 18pt;
	position: relative;
	top: 40px;
}
.right-coment
{
	right: 50px;
}
.left-coment
{
	left: 30px;
}
.comentary .text .user-coment
{
	float: right;
}
.comentaries-section
{
	padding: 40px 0;
}
@media screen and (max-width: 1100px)
{
	.title-section .title
	{
		font-size: 20pt;
	}
  .comentary .text{
	font-size: 14pt;
	top: 20px;
   }
   .why-we img
   { 
	height: 300px;
	width: 300px;
   }
   .jobers
   {
   	flex-wrap: wrap;
   }
   .who-we
   {
   	flex-wrap: wrap;
   	justify-content: center;
   }
   .companys
   {
   	flex-wrap: wrap;
   }
   .why-we
   {
   	flex-wrap: wrap;
   	min-height: 700px;
   	padding: 100px 0;
   }
}
@media screen and (max-width: 700px)
{
	.who-we img
	{
     width: 300px;
     height: 300px;
	}
	.comentary
	{
		margin: 50px 0;
	}
	.comentary.text
	{
	  position: static;
	}
	.comentary img
	{
		width: 100px;
		height: 100px;
	}
	.company img
	{
		width: 200px;
		height: 200px
	}
	.left-coment
	{
		left: 10px;
	}
	.right-coment{
		right: 20px;
	}
}
@media screen and (max-width: 400px)
{
	.who-we img
	{
     width: 250px;
     height: 250px;
	}
	.jober .nameJober
	{
		font-size: 14pt;
	}
	footer
	{
		font-size: 10pt;
	}
}
/*-----------------------------------------------------------------------------------------*/
/*----------HomePage-------------*/
.slider
{
	overflow: hidden;
	max-width: 95%;
	margin: 20px auto;
	border: solid 1px black;
}
.slider-body
{
	display: flex;
	transition: all 2s;
}
@media screen and (max-width: 600px)
{
	.slider 
	{
		max-width: 100%;
	}
}

.blog
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin: 100px 0;
}
.blog-item
{
	min-width: 250px;
	max-width: 300px;
	min-height: 500px;
	max-height: 550px;
	display: flex;
	flex-direction: column;
}
.blog-item .blog-card-header
{
	border-radius: 10% 20% 0 0;
	width: 100%;
	height: 250px;
	margin: 0;
}
.blog-item .blog-card-body
{
	border: solid 2px white;
	border-top: none;
	margin: 0;
	padding: 10px;
}
.blog-item .blog-card-footer
{
	border: solid 2px white;
	border-top: none;
	min-height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.blog-item .blog-card-title
{
	border: solid 2px white;
	font-size: 25pt;
}
/*-----------------------------------------------------------------------------------------*/
/*----Contacts----*/
.contacts
{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.contacts .contacts-links
{
	font-size: 30pt;
}
.contacts .contacts-links .adres
{
	font-size: 20pt;
}
.contacts .social-links
{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.contacts .social-links img
{
 width: 150px;
 height: auto;
 border-radius: 30%;
}
.contacts .social-links .youtube
{
	width: 200px;
}
.contacts img {
      width: 50%;
      height: 500px;
     }
   @media screen and (max-width: 900px)
   { 
       .contacts{
       	flex-direction: column;
       }
       .contacts .contacts-links
       {
       	font-size: 15pt;
       }
       .contacts img
       {
       	width: 100%;
       height: 300px;
       }
            
       .contacts .social-links img
			 {
			 width: 80px;
			 height: auto;
			 border-radius: 30%;
		   }
		   .contacts .social-links .youtube
		   {
		   	width: 100px;
		   }
  }
  /*--------------Autorization-------------------------------------------------*/
  .d-none
  {
  	display: none;
  }
  .popup-autorization
  {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .popup-body
  {
  	background-color: white;
  	width: 30%;
  	height: 70%;
  	border-radius: 10%;
  }
  .popup-close
  {
  	float: right;
  	position: relative;
  	top: 14px;
  	right: 55px;
  	color: red;
  	font-size: 20pt;
  }
  .popup-content
  {
  	width: 80%;
  	height: 80%;
  	margin: 10% auto;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	color: black;
  }
  .popup-content .inputs 
  {
  	width: 80%;
  	margin-top: 40px;
  }
  .popup-content .inputs input
  {
  	font-size: 20pt;
  	outline: none;
  	border: none;
  	border-bottom: solid 2px gray;
  	text-align: center;
  	width: 100%;
  	height: 50px;
  }
  .popup-content .buttons 
  {
  	margin-top: 20%;
  	width: 100%;
  	display: flex;
  	justify-content: center;
  }
  .popup-content .buttons .button
  {
  	border: none;
  	border: solid 1px gray;
  	display: block;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 80%;
  	height: 60px;
  	background-color: #5350fa;
  	color: white;
  	transition: 1s;
  }
  .popup-content .buttons .button:hover 
  {
    z-index: 3;
    transform: scale(1.1);
  }
  .popup-content .title
  {
  	color: black;
  	font-size: 20pt;
  }
  .popup-content .reg-href
  {
  	margin-top: 10px;
  }
  .popup-content .reg-href a
  {
  	text-decoration: underline;
  	color: black;
  }
  @media screen and (max-width: 1100px)
  {
     .popup-body
    {
  	width: 100%;
  	height: 100%;
  	border-radius: 10%;
    }
    .popup-content .title
    {
  	color: black;
  	font-size: 15pt;
    }
  }